body {
    background: rgb(59, 0, 59);
    font: normal 15pt Ubuntu Mono;
}

header {
    text-align: center;
    color: white;
}

section {
    background: white;
    border-radius: 12px;
    padding: 15px;
    width: 300px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.459);
}

.button {
    background: whitesmoke;
    border-radius: 10px;
    width: 50px;
    height: 45px;
    font-size: 20px;
}
.textview {
    font: Ubuntu Mono;
    font-size: 16px;
    width: 200px;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: right;
}

div#titleDiv {
    font-size: 24px;
    color: red;
    text-align: center;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}
